body {
  padding-top: 50px;
  height: 100%
}
.starter-template {
  padding: 40px 15px;
}

h1 {
	text-align: center;
}



body #view-map-canvas {
        height: 35em;
        margin: 0px;
        padding: 0px;
      }
